<head>
<meta charset="UTF-8">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- TOGGLE BTNs theme: -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
<script src="https://d3js.org/d3.v4.js"></script>

<script src="{{ context['references']["javascript"][0]['address'] }}/jquery-2.2.0.js"></script>
<script src="{{ context['references']["javascript"][0]['address'] }}/jquery-ui.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script src="{{ context['references']["javascript"][0]['address'] }}/bootstrap.min.js"></script>

<!--<script src="http://localhost:8888/java/loader_framework.js"></script>-->
<script src="{{ context['references']["javascript"][0]['address'] }}/loader_framework.js"></script>
<script src="{{ context['references']["javascript"][0]['address'] }}/ifcmodel_utils.js"></script>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<title>Informatic</title>
</head>
